<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="cn" connectionString="192.168.1.69;Port=3306;Database=var;User=root;Password=iFLTkdc6;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>
//Server=localhost;Port=3306;Database=var;User=root;Password=Ckv64snt12345;
